NAME=catbot
AVATAR=https://img.freepik.com/fotos-gratis/um-gato-brincalhao-espreitando-por-tras-de-uma-superficie-branca_60438-3920.jpg?t=st=1720748268~exp=1720751868~hmac=2d278edade401f9985fd7b432052b57d15596cd8e2fa4d859084058f51f5a443&w=1380
TYPE=app
MAIN=index.js
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools